.article__div{
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  padding: 12px 16px;
  align-items: center;
}
.article__h3{
  font-size: 2rem;
  color: rgb(231, 233, 234);
  font-family: 'Courier New', Courier, monospace;
}
.article__img{
  display: flex;
  justify-self: center;
  align-self: center;
  margin-right: 12px;
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 50%;
}
.article__div--div{
  display: flex;
  flex-direction: column;
}
.article__h4{
  font-size: 15px;
  color: rgb(231, 233, 234);
  font-weight: bold;
  line-height: 20px;
}
.article__span--div{
  color: rgb(113, 118, 123);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 20px;
}
.article__p{
  color: rgb(231, 233, 234);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 20px;
}
.article__button{
  background-color: rgba(239, 243, 244);
  border-radius: 20px;
  border-color: rgb(83, 100, 113);
  color: #000000;
  width: 97px;
  height: 37px;
  font-size: 1.5rem;
  font-weight: bold;
  justify-self: end;
}